<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ordersell</title>

    <!-- Material Design -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <header id="common-header"></header>
    <script src="../javascript/getCommonHeader.js"></script>

    <style>
        /* 表格 --------------------------------------------------------- */

        .orderSelltable {
            table-layout: fixed;
            text-align: center;

            border-collapse: separate;
            border-spacing: 0;
            border-radius: 0.3rem;
            border: 1px solid var(--color-border);
        }

        .orderSelltable th {
            height: var(--table-thheight);

            color: var(--color-secfont);
            font-weight: var(--font-weight-contenttitle);
            background-color: var(--color-sectablesecond);
        }

        .orderSelltable td {
            /* height: var(--table-tdheight); */
            padding-top: 18px;
            padding-bottom: 18px;
            border-top: 1px solid var(--color-border);
        }




        .detailTable {
            display: none;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            line-height: 25px;
            font-size: 10px;
            border: 2px solid var(--color-black);
            background-color: var(--color-whitesmoke);
            width: 90%;

        }

        .detailTh {
            height: 30px;
            font-size: 12px;
            border: 2px solid var(--color-black);
            background-color: var(--color-jasmine);
        }

        .detailBtn {
            color: var(--color-black);
            background-color: transparent;
            border-color: var(--color-black);
            background-color: var(--color-jasmine);
            border-radius: 3px;
            padding-right: 2%;
            padding-left: 2%;

        }

        @media screen and (max-width: 1000px) {
            table {
                border: 0;
            }

            table thead {
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid var(--color-antiquewhite);
                display: block;
                font-size: 16px;
            }

            table td {
                border-bottom: 1px solid var(--color-antiquewhite);
                display: block;
                text-align: right;

            }

            table td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
                color: var(--color-sunorange);
            }
        }

        html, body, #loading {
            height: 100%;
        }
    </style>
</head>

<body>
    <iframe id="loading" src="loading.html" width="100%" height="100%" scrolling="no"></iframe>
    <div class="container" id="container" style="display: none;">
        <div class="row justify-content-center">
            <div class="col-11 mt-4 px-0">
                <h1 class="fs-2 fw-bold mb-4"><span class="text-black">接單管理</span></h1>
                <div class="bg-white rounded-3 shadow-sm py-4 px-4 w-100 h-auto mb-4">

                    <!-- 這裡是內容的框架，可直接改掉框架 -->
                    <div class="h-auto d-flex justify-content-start fs-5 fw-normal">
                        <a class="opA active">全部</a>
                        <a class="opA">待確認</a>
                        <a class="opA">待出貨</a>
                        <a class="opA">出貨中</a>
                        <a class="opA">已完成</a>
                        <a class="opA">不成立</a>
                    </div>
                    <div class="borderLine"></div>
                    <hr class="hr-color mt-0 mb-4">
                    <table class="orderSelltable fs-5 fw-normal w-100">
                        <thead>
                            <tr>
                                <th style="width: 15%;">接單編號</th>
                                <th style="width: 15%;">採購商</th>
                                <th colspan="2">當前狀態</th>
                                <th style="width: 10%;">銷售合計</th>
                                <th style="width: 10%;">利潤</th>
                                <th style="width: 15%;">操作</th>
                            </tr>
                        </thead>
                        <tr class="hiddenRowControll"></tr>
                        <tr class="hiddenRowControll"></tr>
                        <tr class="hiddenRowControll"></tr>
                        <tr class="hiddenRowControll"></tr>
                        <tr class="hiddenRowControll"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- 明細彈窗 -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">訂單明細</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: 700px;">
                    <iframe id="ifrm" style="width: 100%; flex: 1; height: 700px;" src="./littleDetail.html"></iframe>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../javascript/materialdesigninit.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="../javascript/ajaxconnect.js"></script>
    <script src="../javascript/orderstatus.js"></script>
    <script src="../javascript/tools.js"></script>
    <script>
        // 上方選單移動與選擇
        // 最上方按鈕點擊時，按鈕狀態改變，下方底線移動。
        $(".opA").on("click", async function () {
            await downloadData();
            $(".opA").removeClass('active');
            $(this).addClass('active');

            switch ($(this).index()) {
                case 0:
                    $(".borderLine").css({ "transform": "translateX(0px)", "width": "70px" });
                    $(".hiddenRowControll").show();
                    break;
                case 1:
                    $(".borderLine").css({ "transform": "translateX(70px)", "width": "90px" });
                    $(".hiddenRowControll").hide();
                    for (let i = 0; i < $(".hiddenRowControll").length; i++) {
                        if ($($(".hiddenRowControll")[i]).attr("data-state") == 2) {
                            $($(".hiddenRowControll")[i]).show();
                        }
                    }
                    break;
                case 2:
                    $(".borderLine").css({ "transform": "translateX(158px)", "width": "90px" });
                    $(".hiddenRowControll").hide();
                    for (let i = 0; i < $(".hiddenRowControll").length; i++) {
                        if ($($(".hiddenRowControll")[i]).attr("data-state") == 3) {
                            $($(".hiddenRowControll")[i]).show();
                        }
                    }
                    break;
                case 3:
                    $(".borderLine").css({ "transform": "translateX(245px)", "width": "90px" });
                    $(".hiddenRowControll").hide();
                    for (let i = 0; i < $(".hiddenRowControll").length; i++) {
                        if ($($(".hiddenRowControll")[i]).attr("data-state") == 4 || $($(".hiddenRowControll")[i]).attr("data-state") == 5) {
                            $($(".hiddenRowControll")[i]).show();
                        }
                    }
                    break;
                case 4:
                    $(".borderLine").css({ "transform": "translateX(338px)", "width": "90px" });
                    $(".hiddenRowControll").hide();
                    for (let i = 0; i < $(".hiddenRowControll").length; i++) {
                        if ($($(".hiddenRowControll")[i]).attr("data-state") == 6) {
                            $($(".hiddenRowControll")[i]).show();
                        }
                    }
                    break;
                case 5:
                    $(".borderLine").css({ "transform": "translateX(428px)", "width": "90px" });
                    $(".hiddenRowControll").hide();
                    for (let i = 0; i < $(".hiddenRowControll").length; i++) {
                        if ($($(".hiddenRowControll")[i]).attr("data-state") == 7) {
                            $($(".hiddenRowControll")[i]).show();
                        }
                    }
                    break;
                default:
                    console.log("borderLine error");
                    break;
            }
        })


        // 呼叫model開啟，同時呼叫開啟的內部iframe方法.parentCall(0)
        function callStaticBackdrop(tidy) {
            switch (tidy.orderStatus) {
                case 2:
                    // 0是待確認時，無收件人資料
                    $(".modal-body").css("height", "500px");
                    $("#ifrm").css("height", "500px");
                    break;
                case 3: case 4: case 5: case 6:
                    // 1是完整資料，含收件人資料
                    $(".modal-body").css("height", "700px");
                    $("#ifrm").css("height", "700px");
                    break;
                case 7:
                    // 2是訂單不成立，無收件人資料
                    $(".modal-body").css("height", "700px");
                    $("#ifrm").css("height", "700px");
                    break;
                default:
                    console.log("callStaticBackdrop error");
                    break;
            }

            $("#staticBackdrop").modal("show");
            $("#ifrm").get(0).contentWindow.parentCall(tidy);
        }

        // iframe內部的子類會呼叫這個方法。
        function SetComponent(status, btn) {
            $("#staticBackdrop").modal("hide");
            sweetalertShow(status, btn);
        }


        // JSON假資料  ----------------------------------------------------------------------------------------------------------------------
        // OrderId(接單編號)、CompanyName(採購商)、OrderTime(下單時間)、OrderStatus(交易狀態)、?total(?銷售合計(大總價))、?profit(?利潤)
        // OrderStatus(交易狀態)：1是尚未送出叫貨單_還沒送出訂單、2是待確認_訂單送出、3是待出貨_訂單成立、4是出貨中、5是待收貨_待收貨入庫、6是訂單完成_入庫完成、7是訂單不成立_賣家或買家取消
        var allSellList =
            [
                {
                    "companyName": "Duck666666的店",
                    "buyerId": "4",
                    "cancelOrderTime": "null",
                    "contactPerson": "王先生",
                    "address": "yy.yyy.yyyy",
                    "paymentTerms": "月結",
                    "productId": 100001,
                    "orderStatus": 3,
                    "orderId": "2D202209090001",
                    "acceptOrderTime": "2022-09-23 10:14:18",
                    "exportTime": "null",
                    "companyPhone": "0968145698",
                    "orderTime": "2022-09-22 13:14:17",
                    "sellableQty": 100,
                    "completeOrderTime": "null",
                    "total": 200000,
                    "taxId": "88314578",
                    "orderQty": 200,
                    "arriveOrderTime": "null",
                    "productNameSpec": "1號的秋刀魚",
                    "profit": 74000,
                    "unitSellPrice": 1000
                }
            ];
        let tidyAllSellList = "";

        // 欄位中文名稱對應
        let sellListName = [
            {
                productNameSpec: "品項",
                orderId: "接單編號",
                companyName: "採購商",
                orderTime: "下單時間",
                orderStatus: "當前狀態",
                total: "銷售合計",
                profit: "利潤",
                controller: "操作"
            }
        ];

        // 撈資料(使用非同步資料的方式撈)。
        downloadData();
        async function downloadData() {
            returnObj = await viewsordersell(null);
            if (isReturnObjectCorrect(returnObj)) {
                allSellList = returnObj.responseObj.data;
                reNewData();                
            } else {
                console.log("orderSell.html downloadData error");
                reNewData();
            }
        }


        function reNewData() {
            tidyData();
            let totalTr = ``;
            for (let i = 0; i < tidyAllSellList.length; i++) {
                let singleTr = `
                <tr class="hiddenRowControll"></tr>`;
                totalTr += singleTr;
            }

            $(".orderSelltable")[0].innerHTML = `
            <thead>
                <tr>
                    <th style="width: 16%;">${sellListName[0].orderId}</th>
                    <th style="width: 15%;">${sellListName[0].companyName}</th>
                    <th style="width: 18%;">${sellListName[0].productNameSpec}</th>
                    <th colspan="2" style="width: 33%;">${sellListName[0].orderStatus}</th>
                    <th style="width: 10%;">${sellListName[0].total}</th>
                    <th style="width: 12%;">${sellListName[0].controller}</th>
                </tr>
            </thead>${totalTr}`;

            for (let i = 1; i <= tidyAllSellList.length; i++) {

                // 判斷幾個按鈕
                let confirmOrder = `
                    <button class="orderBtn mdc-button mdc-button--raised mb-2" onclick="sweetalertShow(3,this)" data-value="${tidyAllSellList[i - 1].orderId}">
                        <span class="mdc-button__label fs-5 fw-normal">確認訂單</span>
                    </button><br>`;
                let exportOrder = `
                    <button class="orderBtn mdc-button mdc-button--raised mb-2" onclick="sweetalertShow(4,this)" data-value="${tidyAllSellList[i - 1].orderId}">
                        <span class="mdc-button__label fs-5 fw-normal">全配出貨</span>
                    </button><br>`;
                let cancelOrder = `
                    <button class="orderBtnDel mdc-button mdc-button--outlined mb-2" onclick="sweetalertShow(7,this)" data-value="${tidyAllSellList[i - 1].orderId}">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label fs-5 fw-normal">取消訂單</span>
                    </button><br>`;
                let checkOrder = `
                    <button class="detail mdc-button" onclick="callStaticBackdrop(tidyAllSellList[${i - 1}])">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label fs-5 fw-normal">查看明細</span>
                    </button>`;

                let theButton = null;
                switch (tidyAllSellList[i - 1].orderStatus) {
                    case 2:
                        theButton = confirmOrder + cancelOrder + checkOrder;
                        break;
                    case 3:
                        theButton = exportOrder + cancelOrder + checkOrder;
                        break;
                    case 4: case 5:
                        theButton = cancelOrder + checkOrder;
                        break;
                    case 6: case 7:
                        theButton = checkOrder;
                        break;
                    default:
                        console.log("按鈕錯誤");
                        break;
                }


                // 判斷主頁時間軸
                let returnSellstatus = checkstatus(1, tidyAllSellList[i - 1].orderStatus);
                let finalStatusTime = "";
                switch (tidyAllSellList[i - 1].orderStatus) {
                    case 2:
                        finalStatusTime = tidyAllSellList[i - 1].orderTime;
                        break;
                    case 3:
                        finalStatusTime = tidyAllSellList[i - 1].acceptOrderTime;
                        break;
                    case 4:
                        finalStatusTime = tidyAllSellList[i - 1].exportTime;
                        break;
                    case 5:
                        finalStatusTime = tidyAllSellList[i - 1].arriveOrderTime;
                        break;
                    case 6:
                        finalStatusTime = tidyAllSellList[i - 1].completeOrderTime;
                        break;
                    case 7:
                        finalStatusTime = tidyAllSellList[i - 1].cancelOrderTime;
                        break;
                    default:
                        console.log("finalStatusTime error");
                        break;
                }


                // 組合商品字串
                let groupStr = "";
                for(let k = 0; k < tidyAllSellList[i - 1].product.length; k++){
                    groupStr += tidyAllSellList[i - 1].product[k].productNameSpec + "<BR>";
                }

                // 判斷商品字串
                let productStr = groupStr;
                let productCount = (productStr.match(/<BR>/g) || []).length;
                let fixProductStr = "";

                if (productCount > 3) {
                    let finalProductStr = "";
                    let cutProudctStr = productStr;

                    for (let i = 0; i < 3; i++) {
                        let singleProductLen = cutProudctStr.indexOf('>') + 1;
                        let singleProductStr = cutProudctStr.substr(0, singleProductLen);
                        finalProductStr += singleProductStr;
                        cutProudctStr = cutProudctStr.substr(singleProductLen, cutProudctStr.length);
                    }
                    fixProductStr = finalProductStr.substr(0, (finalProductStr.length - 4));
                } else {
                    fixProductStr = productStr.substr(0, (productStr.length - 4));
                }

                // 創造<tr>的Html格式，並將資料帶入。
                let trHtmlData =
                    `<td data-label="">${tidyAllSellList[i - 1].orderId}</td>
                    <td data-label="">${tidyAllSellList[i - 1].companyName}</td>
                    <td style="text-align:center;">
                        <div class="w-100 my-2">
                            <span>${fixProductStr}</span>
                        </div>
                        <div>
                            <span>${productCount > 3 ? `......共${productCount}項` : ""}</span>
                        </div>
                    </td>
                    <td colspan="2">
                        <div id="timeline" class="pe-4">
                            <ol class="forpage">
                                <li class="active">
                                    <span class="point d-block"></span>
                                    <span class="diplome d-block">${returnSellstatus.prev}</span>
                                    <span class="timestamp d-block">${timeToString(finalStatusTime).replace(" ", "<br>")}</span>
                                </li>
                                <li class="point">
                                    <span class="point d-block"></span>
                                    <span class="diplome d-block">${tidyAllSellList[i - 1].orderStatus == 7 || tidyAllSellList[i - 1].orderStatus == 6 ? "" : returnSellstatus.now}</span>
                                    <span class="timestamp d-block">${tidyAllSellList[i - 1].orderStatus == 7 || tidyAllSellList[i - 1].orderStatus == 6 ? "" : timeCounter(finalStatusTime, tidyAllSellList[i - 1].orderStatus)}</span>
                                </li>
                            </ol>
                        </div>
                    </td>
                    <td data-label="">${costFix(tidyAllSellList[i - 1].total)}</td>
                    <td data-label="">${theButton}</td>`;

                // 把製作完的tr放回去tabel中。
                $($(".orderSelltable tr")[i]).attr("data-state", tidyAllSellList[i - 1].orderStatus);
                $(".orderSelltable tr")[i].innerHTML = trHtmlData;

                document.querySelectorAll('.mdc-button').forEach(
                    function (ele) {
                        mdc.ripple.MDCRipple.attachTo(ele);
                    });
            }
        }

        function tidyData() {

            let allSellListOrderid = new Array(allSellList.length);
            for (let i = 0; i < allSellList.length; i++) {
                allSellListOrderid[i] = allSellList[i].orderId;
            }


            // 用Set()+Array.from()檢查不重複，並取得唯一值
            let allSellListOrderidResult = Array.from(new Set(allSellListOrderid));

            tidyAllSellList = new Array(allSellListOrderidResult.length);
            // 計算及分類每個商品及對應編號
            for (let i = 0; i < allSellListOrderidResult.length; i++) {

                let productCount = 0;
                for (let k = 0; k < allSellList.length; k++) {
                    if (allSellListOrderidResult[i] == allSellList[k].orderId) {
                        productCount++;
                    }
                }
                tidyAllSellList[i] = { product: new Array(productCount) };
            }



            // 將值填入(共用數值)
            // buyerid??取消訂單時間??
            for (let i = 0; i < allSellListOrderidResult.length; i++) {

                let productCount = 0;
                let singleTotal = 0;
                let singleProfit = 0;
                for (let k = 0; k < allSellList.length; k++) {
                    if (allSellListOrderidResult[i] == allSellList[k].orderId) {

                        tidyAllSellList[i].companyName = allSellList[k].companyName;
                        tidyAllSellList[i].buyerId = allSellList[k].buyerId;
                        tidyAllSellList[i].cancelOrderTime = allSellList[k].cancelOrderTime;
                        tidyAllSellList[i].contactPerson = allSellList[k].contactPerson;
                        tidyAllSellList[i].address = allSellList[k].address;
                        tidyAllSellList[i].paymentTerms = allSellList[k].paymentTerms;
                        tidyAllSellList[i].orderStatus = allSellList[k].orderStatus;
                        tidyAllSellList[i].orderId = allSellList[k].orderId;
                        tidyAllSellList[i].acceptOrderTime = allSellList[k].acceptOrderTime;
                        tidyAllSellList[i].exportTime = allSellList[k].exportTime;
                        tidyAllSellList[i].companyPhone = allSellList[k].companyPhone;
                        tidyAllSellList[i].orderTime = allSellList[k].orderTime;
                        tidyAllSellList[i].completeOrderTime = allSellList[k].completeOrderTime;
                        tidyAllSellList[i].arriveOrderTime = allSellList[k].arriveOrderTime;
                        tidyAllSellList[i].taxId = allSellList[k].taxId;
                        tidyAllSellList[i].profit = "";
                        tidyAllSellList[i].total = "";

                        tidyAllSellList[i].product[productCount] = {};
                        tidyAllSellList[i].product[productCount].productId = allSellList[k].productId;
                        tidyAllSellList[i].product[productCount].sellableQty = allSellList[k].sellableQty;
                        tidyAllSellList[i].product[productCount].total = allSellList[k].total;
                        tidyAllSellList[i].product[productCount].orderQty = allSellList[k].orderQty;
                        tidyAllSellList[i].product[productCount].productNameSpec = allSellList[k].productNameSpec;
                        tidyAllSellList[i].product[productCount].profit = allSellList[k].profit;
                        tidyAllSellList[i].product[productCount].unitSellPrice = allSellList[k].unitSellPrice;
                        singleTotal += tidyAllSellList[i].product[productCount].total;
                        singleProfit += tidyAllSellList[i].product[productCount].profit;
                        productCount++;
                        // break;
                    }
                }

                tidyAllSellList[i].total = singleTotal;
                tidyAllSellList[i].profit = singleProfit;
            }
        }

        async function updateData(state, btn) {
            // 狀態3時，檢查庫存可配數是否足夠，如果cancell < orderqty，就不給訂購。
            if (state == 3) {
                for (let i = 0; i < tidyAllSellList.length; i++) {
                    if ($(btn).attr('data-value') == tidyAllSellList[i].orderId) {
                        for (let k = 0; k < tidyAllSellList[i].product.length; k++) {
                            if (tidyAllSellList[i].product[k].canSell < tidyAllSellList[i].product[k].orderQty) {
                                sweetalertShow((state + 10));
                                return;
                            }
                        }
                    }
                }
            }


            // 基本結構
            let sentData = {
                "orderId": $(btn).attr('data-value'),
                "orderStatus": state,
                "buyerId": "",
                "sellerId": "",
                "paymentTerms": "",
                "orderTime": "",
                "acceptOrderTime": "",
                "exportTime": "",
                "arriveOrderTime": "",
                "completeOrderTime": "",
                "cancelOrderTime": ""
            }

            // 用for迴圈將結構內的缺值填入
            for (let i = 0; i < tidyAllSellList.length; i++) {
                if ($(btn).attr('data-value') == tidyAllSellList[i].orderId) {
                    sentData.buyerId = tidyAllSellList[i].buyerId;
                    sentData.paymentTerms = tidyAllSellList[i].paymentTerms;
                    sentData.orderTime = (tidyAllSellList[i].orderTime == "null" ? "null" : Date.parse(tidyAllSellList[i].orderTime));
                    sentData.acceptOrderTime = (tidyAllSellList[i].acceptOrderTime == "null" ? "null" : Date.parse(tidyAllSellList[i].acceptOrderTime));
                    sentData.exportTime = (tidyAllSellList[i].exportTime == "null" ? "null" : Date.parse(tidyAllSellList[i].exportTime));
                    sentData.arriveOrderTime = (tidyAllSellList[i].arriveOrderTime == "null" ? "null" : Date.parse(tidyAllSellList[i].arriveOrderTime));
                    sentData.completeOrderTime = (tidyAllSellList[i].completeOrderTime == "null" ? "null" : Date.parse(tidyAllSellList[i].completeOrderTime));
                    sentData.cancelOrderTime = (tidyAllSellList[i].cancelOrderTime == "null" ? "null" : Date.parse(tidyAllSellList[i].cancelOrderTime));
                    break;
                }
            }

            returnObj = await viewsordersellupdate(sentData);
            if (isReturnObjectCorrect(returnObj)) {
                // 點選全配及出貨，呼叫父頁面送貨模擬方法
                if (state == 4) {
                    sentData.orderStatus = 5;
                    parent.simulateArriveTime(sentData);
                };
                window.location.replace(location.href);
            } else {
                sweetalertShow((state + 10));
            };
        }



        function sweetalertShow(state, btn) {
            switch (state) {
                case 7:
                    Swal.fire({
                        title: '請確認是否要取消該筆訂單？',
                        text: "請注意：此操作是無法回復的",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: 'var(--color-irongray)',
                        confirmButtonText: '取消訂單',
                        cancelButtonText: '保留'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            updateData(state, btn);
                        }
                    })
                    break;
                case 17:
                    Swal.fire({
                        title: '訂單取消異常，請再試一次',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    break;
                case 3:
                    Swal.fire({
                        title: '是否要確認該筆訂單？',
                        html: "請注意：需確保訂單內產品【庫存可配數】皆足夠",
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: 'var(--color-marigold)',
                        cancelButtonColor: 'var(--color-irongray)',
                        confirmButtonText: '確認訂單',
                        cancelButtonText: '關閉提示'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            updateData(state, btn);
                        }
                    })
                    break;
                case 13:
                    Swal.fire({
                        html: '確認訂單或【庫存可配數】異常<br>請再試一次或檢查【庫存可配數】是否足夠',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    break;
                case 4:
                    Swal.fire({
                        title: '請確認是否進行出貨？',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: 'var(--color-marigold)',
                        cancelButtonColor: 'var(--color-irongray)',
                        confirmButtonText: '全配出貨',
                        cancelButtonText: '關閉提示'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            updateData(state, btn);
                        }
                    })
                    break;
                case 14:
                    Swal.fire({
                        title: '全配出貨異常，請再試一次',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    break;
                default:
                    console.log("goods state error");
                    break;
            }
        }
    </script>
</body>
</html>