<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>sysframe</title>

    <!-- Material Design -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <header id="common-header"></header>
    <script src="../javascript/getCommonHeader.js"></script>

    <!-- 僅限本頁使用CSS效果 -->
    <link rel="stylesheet" href="../css/sysstyle.css">
</head>

<body>
    <div class="main-container d-flex">
        <div class="sidebar shadow-sm" id="side_nav">
            <div class="header-box d-flex justify-content-between">
                <a href="#" onclick="changepage(pageHref)"
                    class="fs-4 fw-bolder text-decoration-none fst-italic m-auto pe-1"><span class="text-white">Nice to
                        Sea You</span></a>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i
                        class="far fa-bars"></i></button>
            </div>

            <ul class="list-unstyled">
                <li class="mt-3 active">

                    <a href="./page.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-inline-flex align-items-center">
                        <i class="fas fa-home"></i>首頁</a>
                </li>

                <li class="newsli">
                    <a href="./news.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-block d-inline-flex justify-content-between">
                        <span>
                            <i class="fas fa-comment-plus"></i>
                            通知與動向
                        </span>
                        <span class="text-white rounded-pill px-2 me-2" 
                                style="background-color: var(--color-alizarincrimson); display: none;">
                        </span>
                    </a>
                </li>

                <li class=""><a href="./analyze.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-block d-inline-flex align-items-center"><i
                            class="fas fa-analytics"></i>數據中心</a></li>

                <hr class="hr-color mx-3">

                <!-- data-toggle必要項、aria-expanded預設關閉、aria-controls選擇控制項 -->
                <li class="">
                    <a href="" class="btn-toggle text-decoration-none ps-3 py-2 d-inline-flex align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#collapseStock" aria-expanded="false">
                        <i class="fas fa-cubes"></i>庫存管理
                    </a>
                </li>
                <div class="collapse" id="collapseStock">
                    <ul class="btn-toggle-nav list-unstyled fw-normal py-2 small">
                        <li class=""><a href="./addStock.html" onclick="return loadIframe('ifrm', this.href, 0)"
                                class="link-dark ps-5 py-1 d-inline-flex text-decoration-none rounded">新增庫存</a></li>
                        <li class=""><a href="./orderStock.html" onclick="return loadIframe('ifrm', this.href)"
                                class="link-dark ps-5 py-1 d-inline-flex text-decoration-none rounded">庫存概況</a></li>
                    </ul>
                </div>

                <li class=""><a href="./orderBuy.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-inline-flex align-items-center"><i
                            class="fas fa-shopping-cart"></i>叫貨管理</a>
                </li>
                <li class=""><a href="./orderSell.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-inline-flex align-items-center">
                        <i class="fas fa-money-check-alt"></i>接單管理</a>
                </li>
                <li class=""><a href="./statement.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-inline-flex align-items-center"><i
                            class="fas fa-cash-register"></i>應收對帳單</a>
                </li>

                <hr class="hr-color mx-3">

                <li class=""><a href="./cooperate.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-inline-flex align-items-center">
                        <i class="fas fa-users-cog"></i></i>廠商管理</a>
                </li>

                <li class=""><a href="./contact.html" onclick="return loadIframe('ifrm', this.href)"
                        class="text-decoration-none ps-3 py-2 d-inline-flex align-items-center">
                        <i class="fas fa-comment-dots"></i>聯絡我們</a>
                </li>
            </ul>
        </div>


        <div class="content" style="display: flex; flex-direction: column;">
            <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm" style="min-height: 48px;">
                <div class="container-fluid">

                    <div class="d-flex justify-content-between d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn"><i class="far fa-bars"></i></button>
                    </div>


                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18px;">
                                <i class="fal fa-user-circle fa-xl me-3"></i>
                                ADMIN
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./account.html"
                                        onclick="return loadIframe('ifrm', this.href)">帳戶設定</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="logoutAlert()">登出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- /views/page.html -->
            <iframe id="ifrm" style="width: 100%; flex: 1;" src="../views/page.html"></iframe>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../javascript/materialdesigninit.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../javascript/ajaxconnect.js"></script>
    <script>
        // 檢查JWT----------------------------------------------------------------------------------------------------------------------------
        function checkIfJwtTokenExist() {
            if (localStorage.getItem("jwtToken") == null) {
                window.location.href = `../index.html`;
            }
        }
        checkIfJwtTokenExist();


        // 將使用者帳號更新至畫面右上角----------------------------------------------------------------------------------------------------------------------------
        async function asyncGetUserAccount() {
            let userAccountObj = {};
            userAccountObj = await getUserAccount("");
            if (isReturnObjectCorrect(userAccountObj)) {
                $("#navbarSupportedContent a")[0].innerHTML = userAccountObj.responseObj.data;
            } else {
                Swal.fire({
                    title: '登入權限已過期，請重新登入',
                    confirmButtonColor: 'var(--color-marigold)',
                    confirmButtonText: '確定'
                }).then((result) => {
                    localStorage.removeItem("jwtToken");
                    window.location.href = `../index.html`;
                });
            }
        };
        asyncGetUserAccount();


        // 登出按鈕功能--------------------------------------------------------------------------------------
        function logoutAlert() {
            Swal.fire({
                    title: '確定要登出嗎?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: 'var(--color-marigold)',
                    cancelButtonColor: 'var(--color-irongray)',
                    confirmButtonText: '登出',
                    cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    localStorage.clear();
                        Swal.fire({
                            title: '您已成功登出',
                            showConfirmButton: true,
                            confirmButtonColor: 'var(--color-marigold)'
                        }).then((result) => {
                            window.location.href = `../index.html`;
                    });
                };    
            })
        };


        // 下拉選單運作------------------------------------------------------------------------------
        $(".sidebar ul li").on("click", function () {
            if ($(this).index() != 4) {
                $(".sidebar ul li.active").removeClass('active');
                $(this).addClass('active');
            }
        })

        $(".open-btn").on("click", function () {
            $("#side_nav").addClass("active");
        })

        $(".close-btn").on("click", function () {
            $("#side_nav").removeClass("active");
        })

        
        // 讀取iframe轉址------------------------------------------------------------------------------
        let addStockHref = "http://localhost:8080/views/addStock.html";
        let pageHref = "http://localhost:8080/views/page.html";

        function loadIframe(iframeName, url, addStockStateNum) {
            var $iframe = $("#" + iframeName);
            if ($iframe.attr("src") == url) {
                return false;
            } else {
                $iframe.attr("src", url);

                // 判斷是否為新增庫存。
                if ($iframe.attr("src") == addStockHref) {
                    addStockState = addStockStateNum;
                }
                return false;
            }
        }

        // iframe內部的子類會呼叫這個方法------------------------------------------------------------------------------
        function changepage(transferData, editStock) {
            // 移除選取狀態。
            $(".sidebar ul li.active").removeClass('active');

            for (var i = 0; i < $(".sidebar ul li").length; i++) {
                if ($($(".sidebar ul li")[i]).find("a").prop('href') == transferData) {
                    $($(".sidebar ul li")[i]).addClass('active');
                }
            }

            if (transferData == addStockHref) {
                loadIframe('ifrm', transferData, editStock);
            } else {
                loadIframe('ifrm', transferData);
            }
        }

        // addStock.html會呼叫這個方法
        let addStockState = 0;
        function checkAddStock() {
            $("#ifrm").get(0).contentWindow.addStockinit(addStockState);
        }


        // 模擬送貨時間的方法(預設3秒)，因為iframe不能setTimeout所以寫在父頁面裡
        function simulateArriveTime(param) {
            setTimeout(async function () {
                let returnObj = await viewsordersellupdate(param);

                if (isReturnObjectCorrect(returnObj)) {
                    if (returnObj.responseText == "OK") {
                        Swal.fire({
                            title: '貨物已成功抵達買家',
                            icon: 'info',
                            confirmButtonColor: 'var(--color-marigold)'
                        }).then((result) => {
                            document.getElementById('ifrm').contentWindow.location.reload();
                        });
                    } else {
                        console.log("simulateArriveTime function error");
                    }
                }
            }, 3000);
        };
    </script>
    <!-- WebSocket依賴 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js" integrity="sha512-aHuAnb+FZ/yM5zYvdiA8q0sxLdsBQ3PRwO8D/08qsenCLQ2gWsosB43Cn1X8esAz0IpaC7Ns5cAPyKIdJQ0hNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <!-- WebSocket JS設定 -->
    <script src="../javascript/websocket.js"></script>
	 <!-- WebSocket 結束 -->
</body>
</html>